header{
    position: fixed;
    display: flex;
    width: 100%;
    flex-direction: column;
    z-index: 50;
}

.header{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 15px;
    background: #00000085;
    backdrop-filter: blur(17px);
    border-bottom: 1px solid #ffffff30;
    box-shadow: 0px 0px 20px 2px #000000af;
}

.profile{
    display: flex;
    align-items: center;
}

.profile img{
    display: flex;
    width: 40px;
    border-radius: 50%;
}

.logo-header h1{
    font-size: 1.3rem;
}

/* resposividade */
@media(width > 780px) {

    header{
        left: 15px;
        width: 205px;
        display: flex;
    }

    .header{
        background: transparent;
        backdrop-filter: blur(0);
        border: none;
    }

    .logo-header{
        display: none;
    }
}