header {
    position: fixed;
    display: flex;
    width: 100%;
    flex-direction: column;
    z-index: 50;
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 15px;
    background: #00000085;
    backdrop-filter: blur(17px);
    border-bottom: 1px solid #ffffff30;
    box-shadow: 0px 0px 20px 2px #000000af;
}

.profile {
    display: flex;
    align-items: center;
}

.profile img {
    display: flex;
    width: 40px;
    border-radius: 50%;
}

.btn-conf-header button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    color: #fff;
    background: transparent;
    border: none;
}

.ctn-conf-header {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(1px);
}

.conf-header {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 60px;
    right: 15px;
    gap: 2px;
    background: #000;
    border: 1px solid #ffffff30;
    border-radius: 10px;
    padding: 5px;
}

.conf-header a {
    display: flex;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1rem;
    color: #fff;
    gap: 3px;
}

.conf-header a:last-child {
    color: #ef4444;
}

.conf-header a:active {
    background: #252525;
}

/* resposividade */
@media(width > 780px) {

    header {
        left: 15px;
        width: 205px;
        display: flex;
    }

    .header {
        background: transparent;
        backdrop-filter: blur(0);
        border: none;
    }

    .logo-header {
        display: none;
    }

    .conf-header {
        top: 60px;
        right: unset;
        left: 20px;
        gap: 2px;
        background: #000;
        border: 1px solid #ffffff30;
        border-radius: 10px;
        padding: 5px;
    }

    .conf-header a:hover {
        background: #252525;
    }
}