@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    gap: 0;
    padding: 0;
    text-decoration: none;
}

:root{
    --primary-color: #ed4f9b;
    --secundary-color: #000;
    --dark-color: #1e1e1e;
    --light-color: #f5f5f5;
    --color-line: #60606065;
    --transition: all 0.4s ease;
    --border: 10px;
}

body{
    font-family: "Inter";
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: #000000;
    color: var(--light-color);
}

.content::-webkit-scrollbar{
    display: flex;
    width: 4px;
}

.content::-webkit-scrollbar-thumb{
    background: #1e1e1e;
    cursor: pointer;
}

.content::-webkit-scrollbar-track{
    background: #000;
}

.content{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding: 0px 0px 120px 0px;
    padding: 120px 15px 185px 15px;
}

/* style page home */
.home{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}



/* style login */
.ctn-login{
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 100vh;
    background-image: url('../assets/img/fundo.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome{
    margin-top: -65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.logo{
    display: flex;
    align-items: center;
    gap: 5px;
    color: #000;
}

.logo img{
    display: flex;
    width: 30px;
}

.welcome h1{
    margin-top: 20px;
    display: flex;
    font-size: 2.5rem;
    gap: 10px;
    color: #000;
}

.welcome h1 span{
    color: var(--primary-color);
    text-decoration: underline;
}

.welcome h2{
    margin-top: 10px;
    font-size: 1.3rem;
    font-weight: 500;
    color: #000;
}

.welcome h2 span{
    color: var(--primary-color);
    font-weight: 600;
}


/* style page profile */
.ctn-profile{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.content-profile{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding: 0px 0px 185px 0px;
}

.sec-profile{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 0px 0px 30px 0px;
    box-shadow: 0px 1px 0px 0px var(--color-line);
}

.banner img{
    display: flex;
    width: 100%;
    border-radius: 0;
}

.ctn-user{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.user{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.user img{
    margin-top: -40px;
    display: flex;
    width: 100px;
    height: 100px;
    border: 6px solid #000;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 2px #000000a2;
}

.user h1{
    margin-top: 10px;
    font-size: 1.2rem;
}

.user h2{
    margin-top: 3px;
    font-size: 0.9rem;
    font-weight: 500;
    color: #ffffffb3;
}

.social{
    margin: 15px 20px;
    display: flex;
    gap: 6px;
}

.social a{
    font-size: 1.3rem;
    color: #f5f5f5;
}

.bio{
    margin-top: 15px;
    margin-left: 15px;
    display: flex;
    width: 65%;
}

.bio p{
    font-size: 1rem;
}

.followers-following{
    margin-top: 15px;
    margin-left: 15px;
    display: flex;
    gap: 15px;
}

.followers-following h1{
    font-size: 1.1rem;
}

.feed-profile{
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    gap: 7px;
}


/* style page toplay */
.ctn-toplay{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

/* style page PassaBola */
.ctn-channel{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.about h1{
    font-size: 1.2rem;
    font-weight: 600;
}

.about h2{
    text-align: justify;
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 500;
    color: #dadada;
}

.channels{
    margin-top: -10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.channels h1{
    margin-top: 35px;
    font-size: 1.2rem;
    font-weight: 600;
}

.ctn-info-channel{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 1px solid var(--color-line);
    border-radius: var(--border);
}

.ctn-info-channel h1 i{
    color: #c80000;
}

.ctn-info-channel h1 i:last-child{
    color: #ffffff;
}

.ctn-info-channel h1{
    font-size: 1.2rem;
    margin-top: 0px;
}

.ctn-info-channel span{
    color: #c80000;
}

.channel{
    display: flex;
    gap: 15px;
}

.channel img{
    margin-top: 15px;
    display: flex;
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.info-channel{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.info-channel h1{
    text-align: left;
    width: 100%;
    font-size: 1rem;
}

.info-channel h2{
    text-align: justify;
    margin-top: 10px;
    font-size: 0.9rem;
    font-weight: 500;
    color: #b4b4b4;
}

.info-channel a{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 7px 15px;
    border: 1px solid var(--color-line);
    border-radius: 5px;
    color: #fff;
    transition: var(--transition);
}

.info-channel a:hover{
    background: #1e1e1e;
}



/* style page myteam */
.ctn-team{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}