@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    gap: 0;
    padding: 0;
    text-decoration: none;
}

:root {
    --primary-color: #ed4f9b;
    --secundary-color: #000;
    --dark-color: #1e1e1e;
    --light-color: #f5f5f5;
    --color-line: #60606065;
    --transition: all 0.4s ease;
    --border: 10px;
}

body {
    font-family: "Inter";
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: #000000;
    color: var(--light-color);
}

.content::-webkit-scrollbar {
    display: flex;
    width: 4px;
}

.content::-webkit-scrollbar-thumb {
    background: #1e1e1e;
    cursor: pointer;
}

.content::-webkit-scrollbar-track {
    background: #000;
}

.content {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding: 0px 0px 120px 0px;
    padding: 90px 15px 185px 15px;
}

.content-profile::-webkit-scrollbar {
    display: flex;
    width: 4px;
}

.content-profile::-webkit-scrollbar-thumb {
    background: #1e1e1e;
    cursor: pointer;
}

.content-profile::-webkit-scrollbar-track {
    background: #000;
}

/* style page home */
.home {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}



/* style login */
.ctn-login {
    display: flex;
    font-family: "Montserrat";
    width: 100%;
    padding: 20px;
    height: 100vh;
    overflow-y: auto;
    background-image: url('https://wallpapers.com/images/featured/light-color-s0s3phxvwu24nnza.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    gap: 0px;
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: #000;
}

.logo img {
    display: flex;
    width: 30px;
}

.welcome h1 {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    font-size: 3rem;
    gap: 10px;
    color: #000;
}

.welcome h1 span {
    color: var(--primary-color);
    text-decoration: underline;
}

.welcome h2 {
    margin-top: 10px;
    font-size: 1.3rem;
    font-weight: 500;
    color: #000;
}

.welcome h2 span {
    color: var(--primary-color);
    font-weight: 600;
}

.welcome button {
    display: none;
}

.links-social-welcome {
    display: none;
}

/* style page profile */
.ctn-profile {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.ctn-header {
    display: none;
}

.content-profile {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding: 0px 0px 185px 0px;
}

.sec-profile {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 0px 0px 30px 0px;
    box-shadow: 0px 1px 0px 0px var(--color-line);
}

.banner {
    display: flex;
    width: 100%;
    height: 150px;
    overflow: hidden;
}

.banner img {
    display: flex;
    width: 100%;
    height: max-content;
    border-radius: 0;
}

.ctn-user {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.user {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.user img {
    margin-top: -40px;
    display: flex;
    width: 100px;
    height: 100px;
    border: 6px solid #000;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 2px #000000a2;
}

.user h1 {
    margin-top: 10px;
    font-size: 1.2rem;
}

.user h2 {
    margin-top: 3px;
    font-size: 0.9rem;
    font-weight: 500;
    color: #ffffffb3;
}

.social {
    margin: 15px 20px;
    display: flex;
    gap: 6px;
}

.social a {
    font-size: 1.3rem;
    color: #f5f5f5;
}

.bio {
    margin-top: 15px;
    margin-left: 15px;
    display: flex;
    width: 65%;
}

.bio p {
    font-size: 1rem;
}

.followers-following {
    margin-top: 15px;
    margin-left: 15px;
    display: flex;
    gap: 15px;
}

.followers-following h1 {
    font-size: 1.1rem;
}

.feed-profile {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    gap: 15px;
}

.post-feed {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid var(--color-line);
    border-radius: var(--border);
}

.post-feed img {
    display: flex;
    width: 100%;
    border-radius: 5px;
}

.post-feed h1 {
    margin-top: 15px;
    font-size: 1rem;
}

.post-feed p {
    text-align: end;
    margin-top: 15px;
    font-size: 0.8rem;
    font-weight: 500;
    color: #ababab;
}

/* style page toplay */
.ctn-toplay {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

/* style page PassaBola */
.ctn-channel {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.about h1 {
    font-size: 1.2rem;
    font-weight: 600;
}

.about h2 {
    text-align: justify;
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 500;
    color: #dadada;
}

.channels {
    margin-top: -10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.channels h1 {
    margin-top: 35px;
    font-size: 1.2rem;
    font-weight: 600;
}

.ctn-info-channel {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 1px solid var(--color-line);
    border-radius: var(--border);
}

.ctn-info-channel h1 i {
    color: #c80000;
}

.ctn-info-channel h1 i:last-child {
    color: #ffffff;
}

.ctn-info-channel h1 {
    font-size: 1.2rem;
    margin-top: 0px;
}

.ctn-info-channel span {
    color: #c80000;
}

.channel {
    display: flex;
    gap: 15px;
}

.channel img {
    margin-top: 15px;
    display: flex;
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.info-channel {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.info-channel h1 {
    text-align: left;
    width: 100%;
    font-size: 1rem;
}

.info-channel h2 {
    text-align: justify;
    margin-top: 10px;
    font-size: 0.9rem;
    font-weight: 500;
    color: #b4b4b4;
}

.info-channel a {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 7px 15px;
    border: 1px solid var(--color-line);
    border-radius: 5px;
    color: #fff;
    transition: var(--transition);
}

.info-channel a:hover {
    background: #1e1e1e;
}



/* style page myteam */
.ctn-team {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

/* style page notification */
.ctn-notifications {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}


@media(width > 780px) {

    .ctn-login {
        align-items: center;
        justify-content: center;
        background-image: url('https://wallpapers.com/images/hd/sakura-anime-wallpaper-w6smtqhs3kyf7wx1.jpg');
    }

    .login {
        display: flex;
        flex-direction: initial;
        align-items: center;
        justify-content: space-between;
        width: 900px;
        height: fit-content;
        background: transparent;
        backdrop-filter: blur(17px);
        border: 1px solid #ffffff70;
        border-radius: 20px;
        box-shadow: -20px 20px 20px 0px #00000040;
    }

    .welcome {
        padding: 20px;
        margin: 0;
        align-items: center;
        justify-content: space-between;
        width: 45%;
        height: 440px;
        background: #ffffff50;
        border-radius: 20px 0px 0px 20px;
    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: start;
        width: 100%;
        gap: 5px;
        color: #000;
        cursor: default;
    }

    .content-welcome {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: default;
    }

    .content-welcome h1 {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0px;
        gap: 0px;
        font-size: 2.5rem;
    }

    .content-welcome h2 {
        font-size: 1rem;
    }

    .welcome button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 33px;
        border: none;
        border-radius: 50px;
        background: #ffffff84;
        backdrop-filter: blur(5px);
        box-shadow: -3px 5px 15px 2px #00000035;
        transition: var(--transition);
        cursor: pointer;
    }

    .welcome button:hover {
        transform: scale(1.02);
        background: var(--primary-color);
        color: #fff;
    }

    .links-social-welcome {
        display: flex;
        gap: 15px;
    }

    .links-social-welcome a {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #ffffff74;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        font-size: 1rem;
        color: var(--primary-color);
        transition: var(--transition);
    }

    .links-social-welcome a:hover {
        transform: translateY(-5px);
        background: #ffffffcb;
    }

    .home {
        align-items: center;
    }

    .ctn-team {
        align-items: center;
    }

    .ctn-channel {
        align-items: center;
    }

    .ctn-toplay {
        align-items: center;
    }

    .ctn-profile {
        align-items: center;
    }

    .content {
        margin-left: 25px;
        box-shadow: 0px 0px 0px 1px var(--color-line);
        padding: 15px;
        width: 50%;
    }

    .content-profile {
        margin-left: 25px;
        box-shadow: 0px 0px 0px 1px var(--color-line);
        width: 50%;
        padding: 0;
    }

    .ctn-header {
        display: flex;
    }

    .ctn-notifications {
        align-items: center;
    }

}